
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Rishi Jain-Portfolio</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>

<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images\Rishi_full.jpeg' %}" >
					<hr>
					<h4>Hi I'm Rishi Jain!</h4>
					<p>I love coding and have a keen interest in Machine Learning (ML) and Artificial Intelligence (AI).
                    </p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Internship as a Machine Learning Engineer</h4>
					<hr>
					<p>
                        Integrated OpenAI’s LLM Model GPT-3.5-turbo with LangChain and Interakt’s chatbot
                        using webhooks and API endpoints for real-time messaging, managed with multi-threading.
                    </p>
                    <p>
                        Developed a real-time question recommender using Gemini 1.5 Pro and PostgreSQL, 
                        analyzing student performance for adaptive question suggestions.
                    </p>
                    <p>
                        Created an AI-based question evaluator using Gemini 1.5 Pro to grade, fix, and explain
                        questions, improving clarity and correctness.
                    </p>
					<ul class="social-links">
						<li>
                            <a href="https://www.linkedin.com/in/rishi-jain-5a79b7223/" target="_blank">
                                <img class="social" src="{% static 'images/linkedin.png' %}" alt="LinkedIn">
                            </a>
                        </li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Machine Learning Intern at NEETPrep</p>
					<p>Made 3 LLM application with the help of LangChain. Used LLM models and deployed them on cloud function</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Technical Skills</h5>
                    <hr>
                    <p><b>Languages:</b> C++, MYSQL, Python, Javascript</p>
                    <p><b>Libraries:</b> LangChain, Numpy, Pandas, Sklearn, Tensorflow, Matplotlib, Seaborn, OpenCv(Cv2), Keras</p>
                    <p><b>Course-Work:</b> Data Structures and Algorithms, Data science, Machine Learning</p>
                    <p><b>Additional:</b> Deep Learning, NLP, Django, , HTML/CSS</p>
                    <p><b>Cloud Knowlege:</b> AWS EC2, GCP, Render and Vercel </p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
                    <p>I learn by exploring a variety of resources, including blogs, YouTube videos, and documentation. I also engage in hands-on practice to apply and solidify my knowledge, turning concepts into practical skills through real-world projects.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>
                    <b>Pursue a Role as an AI/ML or Software Engineer:</b>I aim to specialize in AI/ML or software engineering, leveraging my skills to develop and deploy impactful projects.
                </p>
				<p>
                    <b>
                        Engage in Innovative Projects:
                    </b>
                    I am enthusiastic about working on new products and solutions, focusing on hands-on development and seeing projects through to deployment.
                </p>
				</div>
			</div>
		</div>
		<br>
	</div>

</body>
</html>